<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>插值语法</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br /><br />
        名：<input type="text" v-model="lastName"> <br /><br />

        <hr>
        全名：<span>{{firstName}} - {{lastName}}</span> <br /><br />
        使用插值语法，不符合Vue的风格
        <hr>
        全名：<span>{{fullName()}}</span> <br /><br />
        使用插值语法，不符合Vue的风格
        <hr>
        全名：<span>{{computedFullName}}</span> <br /><br />
        使用 computed 计算属性，会调用 get 方法
        <hr>
        全名：<span>{{simpleFulName}}</span> <br /><br />
        使用 computed 计算属性，简写 使用:function()... 代替 get(){...}

    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el: '#root',
        data: {
            title: 'Hello Vue',
            firstName: '张',
            lastName: '三'
        },
        methods: {
            fullName() {
                return this.firstName + ' - ' + this.lastName
            }
        },
        computed: {
            computedFullName: {
                get() {
                    console.log("computedFullName get 被调用了")
                    return this.firstName + ' - ' + this.lastName
                },
                // 当数据被修改时，将会调用 set 方法
                set(value){
                    console.log("computedFullName set 方法被调用了:",value)
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            },
            simpleFulName:function(){
                console.log("simpleFulName get 被调用了")
                return this.firstName + ' - ' + this.lastName
            }
        }
    })
</script>

</html>