<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        搜索关键字：<input type="text" placeholder="搜索关键字" v-model="keyWord"> <br /><br />
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.id}} - {{p.name}} -- {{p.age}} -- {{p.sex}}
            </li>
        </ul>
        <br /><br />
        <hr />
        使用计算属性匹配
        搜索关键字：<input type="text" placeholder="搜索关键字" v-model="comKeyWord">
        <br /><br />
        <ul>
            <li v-for="p in comFilPerson" :key="p.id">
                {{p.id}} - {{p.name}} -- {{p.age}} -- {{p.sex}}
            </li>
        </ul>
        <br /><br />
        <hr />
        过滤后进行排序操作
        搜索关键字：<input type="text" placeholder="搜索关键字" v-model="sortKeyWord">
        <br />
        <br />
        <button @click="sortType=0">按年龄原顺序</button>
        <button @click="sortType=1">按年龄降序</button>
        <button @click="sortType=2">按年龄升序</button>
        <br />
        <br />
        <ul>
            <li v-for="p in sortFilPerson" :key="p.id">
                {{p.id}} - {{p.name}} -- {{p.age}} -- {{p.sex}}
            </li>
        </ul>

    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el: '#root',
        data: {
            keyWord: '',
            persons: [
                { id: '001', name: '马冬梅', age: 21, sex: '女' },
                { id: '002', name: '周冬梅', age: 20, sex: '女' },
                { id: '003', name: '周杰伦', age: 19, sex: '男' },
                { id: '004', name: '温兆伦', age: 22, sex: '男' },
            ],
            filPersons: [],
            comKeyWord: '',
            sortType: 0, //0原顺序，1降序，2升序
            sortKeyWord: ''
        },
        watch: {
            keyWord: {
                immediate: true,
                handler(val) {
                    this.filPersons = this.persons.filter((p) => {
                        return p.name.indexOf(val) !== -1
                    })
                }
            }
        },
        computed: {
            comFilPerson() {
                return this.persons.filter((p) => {
                    return p.name.indexOf(this.comKeyWord) !== -1
                })
            },
            sortFilPerson() {
                const arr = this.persons.filter((p) => {
                    return p.name.indexOf(this.sortKeyWord) !== -1
                })
                if (this.sortType) {
                    arr.sort((p1,p2)=>{
                        return this.sortType === 1 ? p2.age - p1.age: p1.age - p2.age
                    })
                }
                return arr
            }
        }
    })
</script>

</html>